<%= form_with(model: series, local: true) do |form| %>
  <% if series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% series.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :series_name %>
  </div>

  <div class="field">
    <%= form.label :seasons %>
    <%= form.number_field :seasons, id: :series_seasons %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :series_year %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind, id: :series_kind %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.check_box :subtitle, id: :series_subtitle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
